# Setup Django

In [3]:
# import os, sys
# PWD = os.getenv('PWD')
# os.chdir(PWD)
# sys.path.insert(0, os.getenv('PWD'))
# os.environ.setdefault("DJANGO_SETTINGS_MODULE", "local_settings.py")
# import django
# django.setup()

In [7]:
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

# Preprocessing

In [11]:
from apps.kstorage.models import User, Project
import pandas as pd

In [16]:
u_df = pd.DataFrame(list(User.objects.all().values()), index=User.objects.values_list('id', flat=True))
u_df

,id,email,role,faculty_id,expertises,skills,year
13,13,ben@gmail.com,student,1,"[[2763, None, None]]","[Chinese, Excel]",1
14,14,user1@gmail.com,student,1,"[[2763, None, None], [4819, 4820, 4842], [2912...",[quantum],1
5,5,earn@gmail.com,student,2,"[[2763, 2813, None]]","[AstronomicalScience, English]",1
4,4,eit@gmail.com,student,3,"[[2838, 2859, 2863]]",[React],1